{% extends 'chore_tracker/base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1>Points for {{ child.name }}</h1>
        <ul class="list-group">
            <li class="list-group-item">Daily Points: {{ daily_points }}</li>
            <li class="list-group-item">Weekly Points: {{ weekly_points }}</li>
            <li class="list-group-item">Monthly Points: {{ monthly_points }}</li>
            <li class="list-group-item">Total Points: {{ total_points }}</li>
        </ul>
    </div>
{% endblock %}